@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html, body {
    height: 100%;
}

body {
    background: url(../images/bg.jpg) no-repeat center fixed;
    background-size: cover;
}

h3, h6 {
    color: #F6D9A1;
    font-family: 'Ubuntu', sans-serif;
}

#root {
    height: 100vh;
}

.row {
    margin: 10px;
    justify-content: space-around;
    text-align: center;
}


.component-bg {
    background-color: rgba(50, 43, 21, 0.75);
    border-radius: 5px;
    padding-top: 8px;
}

.image-container {
    /* original image:
    http://www.michaelbackmanltd.com/sitebuilder/images/Burmese_Temple_Chime_2_-600x468.jpg */
    background: url(../images/gong.png) no-repeat center fixed;
    background-position-y: 0;
}

@media only screen and (max-width: 719px) {
    .image-container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: 30vh;
    }

    .controls-container {
        background-color: rgba(109, 92, 72, 0.75);
        border-radius: 5px;
    }
}

@media only screen and (min-width: 720px) {
    .image-container {
        height: 500px;
        position: relative;
        background-size: 80vh;
    }

    .controls-container {
        position: absolute;
        left: 50.75%;
        top: 65%;
        transform: translate(-50%, -50%);
    }
}