.counter {
    margin: 0 10px;
}

.counter > h3 {
    text-align: center;
}

.counter > span {
    color: #F1F7ED;
    font-size: 1.25rem;
    line-height: 0;
    margin: 10px;
    user-select: none;
}

.operator {
    color: #F6D9A1 !important;
    cursor: pointer;
    font-size: 1.5rem;
}